        <div class="row">
          <div class="col-lg-4">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Contact</h4>
                <p>Drop me an email at<a href="#" class="alert-link"> guru at gudemann dot ch</a>.</p>                
            </div>
          </div>
          <div class="col-lg-4">
            <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Mixing / Mastering engineer</h4>
              <strong>Got some issues on your mix project ?</strong> sure I can help.
            </div>
          </div>
          <div class="col-lg-4">
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Video Games</h4>
              <strong>Are you developing a Video Game ?</strong> I really enjoy working on sound design. Contact me, I would love to hear what your project is about.
            </div>
          </div>
        </div>