          <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
            <div class="well">
              <a href="http://gudi.guru/" rel="nofollow" target="_blank">
                <span style="float: left; margin-right: 15px;">
                  <img src="http://a4.mzstatic.com/us/r30/Music4/v4/8f/70/24/8f70243f-7438-9b2b-41cc-1264673dc616/849926038830.170x170-75.jpg" style="border-radius: 4px;" alt="Philippe Gudemann">
                </span>
              </a>
              <a href="http://gudi.guru/" rel="nofollow" target="_blank">
                <h4 style="margin-bottom: 0.4em; color: #fff;">Latest Commercial Release</h4>
                <div style="color: #fff;" class="clearfix"><h3>Nandeyanen!? (Original Game Soundtrack)</h3>
                  <a href="http://spoti.fi/1Bv1N13" target="spotify_store" style="display:inline-block;overflow:hidden;background:url(https://bit.ly/1pyTGto) no-repeat;width:101px;height:39px;@media only screen"></a>    
                  <a href="http://bit.ly/1AmzGTm" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>    
                  <a href="http://amzn.to/1BoYDhd" target="amazon_store" style="display:inline-block;overflow:hidden;background:url(https://bit.ly/1pySSEP) no-repeat;width:101px;height:39px;@media only screen"></a>    
                </div>
              </a>
            </div>
          </div>