                <h4 style="margin-bottom: 0.4em; color: #EEE;">latest release</h4>
                <div style="color: #fff;" class="clearfix">
                  <a href="http://spoti.fi/1Bv1N13" target="spotify_store" style="display:inline-block;overflow:hidden;background:url(https://bit.ly/1pyTGto) no-repeat;width:101px;height:39px;@media only screen"></a>    
                  <a href="http://bit.ly/1AmzGTm" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>     
                </div>
 