################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GudiGuru/config/applicationhost.config
/.vs/GudiGuru
/.vs
